development/felica/TestCords/SoapTest/Connected Services/ServiceReference1/SFCardFanDb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.denno.net/SFCardFan/sfcardfandb.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="SFCardFanDb" targetNamespace="http://www.denno.net/SFCardFan/sfcardfandb.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:SFCardFanDb">
      <xsd:complexType name="getStationNameResult">
        <xsd:sequence>
          <xsd:element name="AreaCode" type="xsd:int" />
          <xsd:element name="LineCode" type="xsd:int" />
          <xsd:element name="StationCode" type="xsd:int" />
          <xsd:element name="CompanyName" type="xsd:string" />
          <xsd:element name="LineName" type="xsd:string" />
          <xsd:element name="StationName" type="xsd:string" />
          <xsd:element name="Note" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getShopNameResult">
        <xsd:sequence>
          <xsd:element name="AreaCode" type="xsd:int" />
          <xsd:element name="TerminalCode" type="xsd:int" />
          <xsd:element name="LineCode" type="xsd:int" />
          <xsd:element name="StationCode" type="xsd:int" />
          <xsd:element name="CompanyName" type="xsd:string" />
          <xsd:element name="ShopName" type="xsd:string" />
          <xsd:element name="Cashier" type="xsd:string" />
          <xsd:element name="Note" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getStationNameRequest">
    <wsdl:part name="AreaCode" type="xsd:int" />
    <wsdl:part name="LineCode" type="xsd:int" />
    <wsdl:part name="StationCode" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getStationNameResponse">
    <wsdl:part name="ResultSet" type="tns:getStationNameResult" />
  </wsdl:message>
  <wsdl:message name="getShopNameRequest">
    <wsdl:part name="AreaCode" type="xsd:int" />
    <wsdl:part name="TerminalCode" type="xsd:int" />
    <wsdl:part name="LineCode" type="xsd:int" />
    <wsdl:part name="StationCode" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getShopNameResponse">
    <wsdl:part name="ResultSet" type="tns:getShopNameResult" />
  </wsdl:message>
  <wsdl:portType name="SFCardFanDbPortType">
    <wsdl:operation name="getStationName" parameterOrder="AreaCode LineCode StationCode">
      <wsdl:input message="tns:getStationNameRequest" />
      <wsdl:output message="tns:getStationNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getShopName" parameterOrder="AreaCode TerminalCode LineCode StationCode">
      <wsdl:input message="tns:getShopNameRequest" />
      <wsdl:output message="tns:getShopNameResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SFCardFanDbBinding" type="tns:SFCardFanDbPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getStationName">
      <soap:operation soapAction="tns:SFCardFanDbGetAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="tns:SFCardFanDb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="tns:SFCardFanDb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShopName">
      <soap:operation soapAction="tns:SFCardFanDbGetAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="tns:SFCardFanDb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="tns:SFCardFanDb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SFCardFanDbService">
    <wsdl:port name="SFCardFanDbPort" binding="tns:SFCardFanDbBinding">
      <soap:address location="http://www.denno.net/SFCardFan/soapserver.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>